<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/admin-top.xhtml">

    <ui:define name="head">
        <title>GContas</title>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon.ico']}"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-16x16.png']}" sizes="16x16"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-32x32.png']}" sizes="32x32"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-96x96.png']}" sizes="96x96"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-144x144.png']}" sizes="144x144"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-196x196.png']}" sizes="196x196"/>
        <link rel="manifest" href="manifest.json"/>
        <meta name="theme-color" content="#444"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <f:loadBundle var="msg" basename="messages"/>
        <h:outputStylesheet library="css" name="starter.css"/>
    </ui:define>

    <ui:define name="logo">
        GContas
    </ui:define>

    <ui:define name="menu">
        <ui:include src="/includes/menubar.xhtml"/>
    </ui:define>

    <ui:define name="top-menu">
        <ui:include src="/includes/top-bar.xhtml"/>
    </ui:define>

    <!-- below is just an example on how to define more tabs for control sidebar --> 
    <ui:define name="controlsidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ui:define>

    <ui:define name="controlsidebar-content">
        <ui:include src="/includes/controlsidebar-tabs-content.xhtml"/>
    </ui:define>


    <ui:define name="footer">
        <a target="_blank"
           href="https://github.com/adminfaces/gcontas-persistence">
            Copyright (C) 2017-2018 - AdminFaces Starter Project
        </a>

        <div class="pull-right hidden-xs" style="color: gray">
            <i>#{msg['starter.version']}</i>
        </div>

    </ui:define>


</ui:composition>