<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">

     <ul class="sidebar-menu tree" data-widget="tree">
        <li>
            <p:link outcome="/index" onclick="clearBreadCrumbs()">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </p:link>
        </li>
        <li class="header">
            Menu
        </li>
        <li>
            <p:link outcome="/despesa-list">
                <i class="fa fa-file"></i>
                <span>Despesas</span>
            </p:link>
        </li>
        <li>
            <p:link outcome="/tipo-list">
                <i class="fa fa-clone"></i>
                <span>Tipos</span>
            </p:link>
        </li>

    </ul>

</ui:composition>