<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

     <ul class="nav navbar-nav">
        <li>
            <p:link outcome="/index.xhtml" onclick="clearBreadCrumbs()">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </p:link>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Despesas <span
                    class="caret"></span>
                <i class="fa fa-file"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <p:link outcome="/despesa-list">
                        <span>Lista</span>
                        <i class="fa fa-th-list"></i>
                    </p:link>
                </li>
                <li>
                    <p:link outcome="/despesa-form">
                        <span>Novo</span>
                        <i class="fa fa-plus-circle"></i>
                    </p:link>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tipos <span
                    class="caret"></span>
                <i class="fa fa-clone"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <p:link outcome="/tipo-list">
                        <span>Lista</span>
                        <i class="fa fa-th-list"></i>
                    </p:link>
                </li>
                <li>
                    <p:link outcome="/tipo-form">
                        <span>Novo</span>
                        <i class="fa fa-plus-circle"></i>
                    </p:link>
                </li>
            </ul>
        </li>
    </ul>

</ui:composition>
