<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="title">
        Informação de Despesa
    </ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:viewParam name="id" value="#{despesaFormMB.id}" converter="javax.faces.Integer"/>
            <!-- use view action if you are in a Java EE 7 server: <f:viewAction action="#{despesaFormMB.init()}"/>-->
            <f:event type="preRenderView" listener="#{despesaFormMB.init}"/>
        </f:metadata>

        <adm:breadcrumb title="#{empty despesaFormMB.id ? 'Novo Despesa' : 'Despesa '.concat(despesaFormMB.id)}" link="despesa-form.xhtml?id=#{despesaFormMB.id}"/>
        <h:form id="form" prependId="false">
            <p:focus rendered="#{empty despesaFormMB.id}"/>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton value="Salvar" action="#{despesaFormMB.save}" update="@form"
                                         icon="fa fa-check" styleClass="btn-primary"/>
                        <p:spacer width="5" rendered="#{despesaFormMB.isNew()}"/>
                        <p:commandButton value="Limpar" action="#{despesaFormMB.clear}" process="@this"
                                         icon="fa fa-refresh" styleClass="btn-success"
                                         update="@form" rendered="#{despesaFormMB.isNew()}" resetValues="true"/>
                        <p:spacer width="5" rendered="#{not despesaFormMB.isNew()}"/>

                        <p:commandButton value="Remover" action="#{despesaFormMB.remove}" process="@this"
                                         rendered="#{not despesaFormMB.isNew()}" icon="fa fa-trash"
                                         styleClass="btn-danger">
                            <f:setPropertyActionListener value="true"
                                                         target="#{facesContext.externalContext.flash.keepMessages}"/>
                            <p:confirm header="Confirmação" message="Confirma a operação??" icon="ui-icon-danger"/>
                        </p:commandButton>
                        <p:spacer width="5"/>
                        <p:commandButton value="Voltar" immediate="true"
                                         action="despesa-list?faces-redirect=true"
                                         process="@this"
                                         icon="fa fa-reply"/>
                    </div>
                    <p:splitButton value="Salvar" action="#{despesaFormMB.save}" update="@form"
                                   icon="fa fa-check"
                                   styleClass="hidden-md hidden-lg btn-primary">
                        <p:menuitem value="Limpar" action="#{despesaFormMB.clear}"
                                    process="@this" update="@form" rendered="#{despesaFormMB.isNew()}"
                                    resetValues="true" icon="fa fa-refresh"/>
                        <p:menuitem value="Remover" action="#{despesaFormMB.remove}" process="@this"
                                    rendered="#{not despesaFormMB.isNew()}" icon="fa fa-trash"
                                    >
                            <p:confirm header="Confirmação" message="Confirma a operação??" icon="ui-icon-danger"/>
                        </p:menuitem>
                        <p:separator/>
                        <p:menuitem value="Voltar" action="despesa-list?faces-redirect=true"
                                    process="@this" immediate="true"
                                    icon="fa fa-reply"/>
                    </p:splitButton>

                    <p:separator/>

                    <div class="ui-g ui-fluid">
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="CNES" for="inptCNES"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="inptCNES" value="#{despesaFormMB.entity.cnes}" required="true"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Tipo" for="inptTipo"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:selectOneMenu id="inptTipo" value="#{despesaFormMB.entity.tipo}" required="true" converter="entityConverter">
                            	<f:selectItem itemLabel="..." itemValue=""/>
                            	<f:selectItems value="#{tipos}" var="tipo" itemLabel="#{tipo.name}" itemValue="#{tipo}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Competência" for="inptCompetencia"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputMask mask="99/9999" id="inptCompetencia" value="#{despesaFormMB.entity.competencia}" required="true"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Valor" for="inptValor"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputNumber id="inptValor" value="#{despesaFormMB.entity.valor}" required="true"/>
                        </div>
                    </div>
                </div>
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Sim" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="Não" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


    </ui:define>

</ui:composition>
