<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="head-end">
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }

            th.ui-filter-column {
                padding: 5px 2px !important;
            }

            #footer:hover {
                opacity: .7;
            }

            #footer {
                float: right;
                font-size: 12px;
                color: #3c8dbc;
                font-weight: 500;
            }
            
            .ui-datatable-footer {
                border: none;
            }

        </style>
    </ui:define>
  
  
  <ui:define name="body-begin">
        <ui:param name="title" value="Informações de Despesas"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 
    </ui:define>

    <ui:define name="description">
        Tabela de gastos
    </ui:define>

    <ui:define name="body">

        <h:form>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton action="despesa-form?faces-redirect=true" icon="fa fa-plus"
                                         value="Novo" styleClass="btn-primary"/>
                        <p:spacer width="5"/>
                        <p:commandButton value="Remover Selecionado" icon="fa fa-trash" styleClass="btn-danger"
                                         action="#{despesaListMB.delete}"
                                         disabled="#{empty despesaListMB.selectionList or despesaListMB.selectionList.size() == 0}"
                                         process="@this" update="@form"
                        >
                            <p:confirm header="Confirmação" message="Confirma a operação??" icon="ui-icon-danger"/>
                        </p:commandButton>
                        <p:spacer width="5"/>
                        <p:commandButton value="Busca" update="@(.ui-dialog)" styleClass="btn-info"
                                         oncomplete="PF('searchDialog').show()" icon="fa fa-search"/>

                        <p:spacer width="5"/>
                        <p:commandButton value="Limpar" update="@(.ui-dialog, .ui-datatable)" process="@form"
                                         action="#{despesaListMB.clear}"
                                         icon="fa fa-refresh"/>
                    </div>

                    <p:splitButton value="Novo" action="despesa-form?faces-redirect=true"
                                   icon="fa fa-plus"
                                   styleClass="hidden-md hidden-lg btn-primary">
                        <p:menuitem value="Remover Selecionado" action="#{despesaListMB.delete}"
                                    process="@this" update="@form"
                                    disabled="#{empty despesaListMB.selectionList or despesaListMB.selectionList.size() == 0}"
                                    icon="fa fa-trash">
                            <p:confirm header="Confirmação" message="Confirma a operação??" icon="ui-icon-danger"/>
                        </p:menuitem>
                        <p:menuitem value="Busca" update="@(.ui-dialog)"
                                    oncomplete="PF('searchDialog').show()"
                                    icon="fa fa-search"/>

                        <p:menuitem value="Limpar" update="@(.ui-dialog, .ui-datatable)" process="@form"
                                    action="#{despesaListMB.clear}"
                                    icon="fa fa-refresh"/>
                    </p:splitButton>

                    <p:separator/>
                    <p:dataTable id="despesasTable" widgetVar="despesasTable" var="c" value="#{despesaListMB.list}" rows="10"
                                 rowKey="#{c.id}" lazy="true" paginator="true"
                                 filteredValue="#{despesaListMB.filteredValue}"
                                 paginatorPosition="bottom" selection="#{despesaListMB.selectionList}"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
                                 currentPageReportTemplate="[ {startRecord} to {endRecord} of {totalRecords} ]"
                                 rowsPerPageTemplate="5,10,15,20,30"
                    >

                        <p:ajax event="rowSelectCheckbox" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowUnselectCheckbox" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowSelect" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowUnselect" update="@(.ui-button, .ui-confirm-dialog)"/>

                        <p:column selectionMode="multiple" width="5%" styleClass="align-center"/>

                        <p:column headerText="CNES" filterBy="#{c.cnes}" sortBy="#{c.cnes}"
                                  filterMatchMode="contains">
                            <f:facet name="filter">
                                <p:autoComplete value="#{despesaListMB.filter.entity.cnes}" forceSelection="true"
                                                minQueryLength="2" queryDelay="500" dropdown="true"
                                                completeMethod="#{despesaListMB.completeCnes}" maxResults="10">
                                    <p:ajax event="itemSelect" process="@this" update="@none"
                                            oncomplete="PF('despesasTable').filter()"/>
                                </p:autoComplete>
                            </f:facet>
                            <p:link value="#{c.cnes}" outcome="despesa-form.xhtml">
                                <f:param name="id" value="#{c.id}"/>
                            </p:link>

                        </p:column>
                        <p:column headerText="Tipo" sortBy="#{c.tipo.name}" filterBy="#{c.tipo.name}">
                            <f:facet name="filter">
                                <p:inputText value="#{despesaListMB.filter.entity.tipo.name}">
                                    <p:ajax process="@this" update="@none" oncomplete="PF('despesasTable').filter()"/>
                                </p:inputText>
                            </f:facet>
                            #{c.tipo.name}
                        </p:column>
                        <p:column headerText="Competência" sortBy="#{c.competencia}" filterBy="#{c.competencia}">
                            <f:facet name="filter">
                                <p:inputText value="#{despesaListMB.filter.entity.competencia}">
                                    <p:ajax process="@this" update="@none" oncomplete="PF('despesasTable').filter()"/>
                                </p:inputText>
                            </f:facet>
                            #{c.competencia}
                        </p:column>
                        <p:column headerText="Valor" sortBy="#{c.valor}" filterBy="#{c.valor}">
                            <f:facet name="filter">
                                <p:spinner value="#{despesaListMB.filter.entity.valor}">
                                    <f:converter converterId="javax.faces.Double"/>
                                    <p:ajax process="@this" update="@none" oncomplete="PF('despesasTable').filter()"/>
                                </p:spinner>
                            </f:facet>
                            #{c.valor}
                        </p:column>
                        <f:facet name="footer">
                            <div id="footer">
                                Filtros <i class="fa fa-filter"/>
                            </div>
                        </f:facet>
                    </p:dataTable>
                    <br/>
                    <p:fileUpload value="#{despesaListMB.file}" styleClass="btn-primary" auto="true" label="Carregar Arquivo" fileUploadListener="#{despesaListMB.handleFileUpload}"
                        	sizeLimit="100000" allowTypes="/(\.|\/)(csv|xls)$/" update="despesasTable"/>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-solid box-danger">
                <p:commandButton value="Sim" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="Não" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


        <p:dialog header="Busca despesas" widgetVar="searchDialog" height="400" modal="true" appendTo="@(body)"
                  width="500" responsive="true" draggable="false" styleClass="box-success">

            <h:form>
                <p:commandButton value="OK" update="@form @(.ui-datatable, .ui-tooltip)" icon="fa fa-check"
                                 ignoreAutoUpdate="true" styleClass="btn-primary"/>
                <p:spacer height="5"/>
                <p:commandButton value="Limpar" action="#{despesaListMB.clear}" process="@this"
                                 update="@form @(.ui-datatable, .ui-tooltip)" styleClass="btn-success"
                                 icon="fa fa-refresh"/>
                <p:spacer height="5"/>
                <p:commandButton value="Fechar" icon="fa fa-close" oncomplete="PF('searchDialog').hide()"/>
                <p:separator/>

                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <p:outputLabel for="cnes" value="CNES"/>
                    </div>
                    <div class="ui-g-12">
                        <p:selectOneMenu id="cnes" value="#{despesaListMB.filter.entity.cnes}">
                            <f:selectItem itemLabel="..." itemValue=""/>
                            <f:selectItems value="#{cnes}" var="m" itemLabel="#{m}"
                                           itemValue="#{m}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel for="competencia" value="Competência"/>
                    </div>
                    <div class="ui-g-12">
                        <p:inputMask mask="99/9999" id="competencia" value="#{despesaListMB.filter.entity.competencia}"/>
                    </div>

                    <div class="ui-g-6 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-12">
                            <p:outputLabel for="min" value="Valor Min."/>
                        </div>
                        <div class="ui-g-12">
                            <p:inputNumber id="min" value="#{despesaListMB.filter.params.minValor}"/>
                        </div>
                    </div>

                    <div class="ui-g-6 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-12">
                            <p:outputLabel for="max" value="Valor Max."/>
                        </div>
                        <div class="ui-g-12">
                            <p:inputNumber id="max" value="#{despesaListMB.filter.params.maxValor}"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </p:dialog>

        <p:outputPanel autoUpdate="true">
            <p:tooltip for="@(div[id$=footer])" escape="false" position="top"
                       showEvent="mouseover" hideEvent="mouseleave"
                       value="#{despesaListMB.searchCriteria}"/>
        </p:outputPanel>

    </ui:define>

</ui:composition>
