<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{layoutMB.template}">

    <ui:define name="head-end">
        <ui:param name="renderBreadCrumb" value="false"/>
    </ui:define>

    <ui:define name="title">
    </ui:define>

</ui:composition>
