<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="head-end">
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }

            th.ui-filter-column {
                padding: 5px 2px !important;
            }

            #footer:hover {
                opacity: .7;
            }

            #footer {
                float: right;
                font-size: 12px;
                color: #3c8dbc;
                font-weight: 500;
            }
            
            .ui-datatable-footer {
                border: none;
            }

        </style>
    </ui:define>
  
  
  <ui:define name="body-begin">
        <ui:param name="title" value="Tipos de Despesas"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 
    </ui:define>

    <ui:define name="description">
        Categorias de gastos
    </ui:define>

    <ui:define name="body">

        <h:form>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton action="tipo-form?faces-redirect=true" icon="fa fa-plus"
                                         value="Novo" styleClass="btn-primary"/>
                        <p:spacer width="5"/>
                        <p:commandButton value="Remover Selecionado" icon="fa fa-trash" styleClass="btn-danger"
                                         action="#{tipoListMB.delete}"
                                         disabled="#{empty tipoListMB.selectionList or tipoListMB.selectionList.size() == 0}"
                                         process="@this" update="@form"
                        >
                            <p:confirm header="Confirmação" message="Confirma a operação??" icon="ui-icon-danger"/>
                        </p:commandButton>
                        <p:spacer width="5"/>
                        <p:commandButton value="Limpar" update="@(.ui-dialog, .ui-datatable)" process="@form"
                                         action="#{tipoListMB.clear}"
                                         icon="fa fa-refresh"/>
                    </div>

                    <p:splitButton value="Novo" action="tipo-form?faces-redirect=true"
                                   icon="fa fa-plus"
                                   styleClass="hidden-md hidden-lg btn-primary">
                        <p:menuitem value="Remover Selecionado" action="#{tipoListMB.delete}"
                                    process="@this" update="@form"
                                    disabled="#{empty tipoListMB.selectionList or tipoListMB.selectionList.size() == 0}"
                                    icon="fa fa-trash">
                            <p:confirm header="Confirmação" message="Confirma a operação??" icon="ui-icon-danger"/>
                        </p:menuitem>
                        <p:menuitem value="Limpar" update="@(.ui-dialog, .ui-datatable)" process="@form"
                                    action="#{tipoListMB.clear}"
                                    icon="fa fa-refresh"/>
                    </p:splitButton>

                    <p:separator/>
                    <p:dataTable widgetVar="tiposTable" var="c" value="#{tipoListMB.list}" rows="10"
                                 rowKey="#{c.id}" lazy="true" paginator="true"
                                 filteredValue="#{tipoListMB.filteredValue}"
                                 paginatorPosition="bottom" selection="#{tipoListMB.selectionList}"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
                                 currentPageReportTemplate="[ {startRecord} to {endRecord} of {totalRecords} ]"
                                 rowsPerPageTemplate="5,10,15,20,30"
                    >

                        <p:ajax event="rowSelectCheckbox" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowUnselectCheckbox" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowSelect" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowUnselect" update="@(.ui-button, .ui-confirm-dialog)"/>

                        <p:column selectionMode="multiple" width="5%" styleClass="align-center"/>
                        <p:column headerText="Nome" sortBy="#{c.name}" filterBy="#{c.name}">
                            <f:facet name="filter">
                                <p:inputText value="#{tipoListMB.filter.entity.name}">
                                    <p:ajax process="@this" update="@none" oncomplete="PF('tiposTable').filter()"/>
                                </p:inputText>
                            </f:facet>
                             <p:link value="#{c.name}" outcome="tipo-form.xhtml">
                                <f:param name="id" value="#{c.id}"/>
                            </p:link>
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-solid box-danger">
                <p:commandButton value="Sim" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="Não" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>

        <p:outputPanel autoUpdate="true">
            <p:tooltip for="@(div[id$=footer])" escape="false" position="top"
                       showEvent="mouseover" hideEvent="mouseleave"
                       value="#{tipoListMB.searchCriteria}"/>
        </p:outputPanel>

    </ui:define>

</ui:composition>
