<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="title">
        Tipo de Despesa
    </ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:viewParam name="id" value="#{tipoFormMB.id}" converter="javax.faces.Integer"/>
            <!-- use view action if you are in a Java EE 7 server: <f:viewAction action="#{tipoFormMB.init()}"/>-->
            <f:event type="preRenderView" listener="#{tipoFormMB.init}"/>
        </f:metadata>

        <adm:breadcrumb title="#{empty tipoFormMB.id ? 'Novo Tipo' : 'Tipo '.concat(tipoFormMB.id)}" link="tipo-form.xhtml?id=#{tipoFormMB.id}"/>
        <h:form id="form" prependId="false">
            <p:focus rendered="#{empty tipoFormMB.id}"/>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton value="Salvar" action="#{tipoFormMB.save}" update="@form"
                                         icon="fa fa-check" styleClass="btn-primary"/>
                        <p:spacer width="5" rendered="#{tipoFormMB.isNew()}"/>
                        <p:commandButton value="Limpar" action="#{tipoFormMB.clear}" process="@this"
                                         icon="fa fa-refresh" styleClass="btn-success"
                                         update="@form" rendered="#{tipoFormMB.isNew()}" resetValues="true"/>
                        <p:spacer width="5" rendered="#{not tipoFormMB.isNew()}"/>

                        <p:commandButton value="Remover" action="#{tipoFormMB.remove}" process="@this"
                                         rendered="#{not tipoFormMB.isNew()}" icon="fa fa-trash"
                                         styleClass="btn-danger">
                            <f:setPropertyActionListener value="true"
                                                         target="#{facesContext.externalContext.flash.keepMessages}"/>
                            <p:confirm header="Confirmação" message="Confirma a operação??" icon="ui-icon-danger"/>
                        </p:commandButton>
                        <p:spacer width="5"/>
                        <p:commandButton value="Voltar" immediate="true"
                                         action="tipo-list?faces-redirect=true"
                                         process="@this"
                                         icon="fa fa-reply"/>
                    </div>
                    <p:splitButton value="Salvar" action="#{tipoFormMB.save}" update="@form"
                                   icon="fa fa-check"
                                   styleClass="hidden-md hidden-lg btn-primary">
                        <p:menuitem value="Limpar" action="#{tipoFormMB.clear}"
                                    process="@this" update="@form" rendered="#{tipoFormMB.isNew()}"
                                    resetValues="true" icon="fa fa-refresh"/>
                        <p:menuitem value="Remover" action="#{tipoFormMB.remove}" process="@this"
                                    rendered="#{not tipoFormMB.isNew()}" icon="fa fa-trash"
                                    >
                            <p:confirm header="Confirmação" message="Confirma a operação??" icon="ui-icon-danger"/>
                        </p:menuitem>
                        <p:separator/>
                        <p:menuitem value="Voltar" action="tipo-list?faces-redirect=true"
                                    process="@this" immediate="true"
                                    icon="fa fa-reply"/>
                    </p:splitButton>

                    <p:separator/>

                    <div class="ui-g ui-fluid">
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Nome" for="inptName"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="inptName" value="#{tipoFormMB.entity.name}"/>
                        </div>
                    </div>
                </div>
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Sim" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="Não" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


    </ui:define>

</ui:composition>
